<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список гаражей</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container mt-3">
    <div th:insert="navigation :: navigation"></div>
    <table id="g-tab" class="table table-striped">
        <capttion>
            <h3>Гаражи</h3>
            <a href="/garage/add">< добавить ></a>
        </capttion>
        <thead>
        <th>Номер</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Площадь</th>
        <th>Приватизирован</th>
        <th>Описание</th>
        <th>Редактировать</th>
        </thead>
        <tbody>
        <tr th:each="g : ${garages}">
            <td th:text="${g.number}"></td>
            <td th:text="${g.owner.lastName + ' ' + g.owner.firstName + ' ' + g.owner.patronymic}"></td>
            <td th:text="${g.owner.phone1 + ', ' + g.owner.phone2}"></td>
            <td th:text="${g.square}"></td>
            <td th:text="${g.isPrivate()} ? 'да' : 'нет'"></td>
            <td th:text="${g.description}"></td>
            <td>
                <a th:href="@{/garage/update/{id}(id=${g.id})}">изменить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container" th:insert="footer :: footer"></div>
</body>
</html>