<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование новостей</title>
</head>
<body>
<p>Новости</p>
<table class="table">
    <thead>
    <th>Дата</th>
    <th>Заголовок</th>
    <th>Текст</th>
    <th>Статус</th>
    <th>Редактировать</th>
    </thead>
    <tbody>
    <tr th:each="n : ${news}">
        <td th:text="${#dates.format(n.date, 'EEE, d MMM yyyy HH:mm')}"></td>
        <td th:text="${n.header}"></td>
        <td th:text="${n.text}"></td>
        <td>
            <form th:action="@{/news/status/} + ${n.id}">
                <input type="checkbox" name="my-checkbox" onclick="submit();" th:checked="${n.status} ? 'checked'">
            </form>
        </td>
        <td><a th:href="@{/news/update/} + ${n.id}">+</a></td>


    </tr>
    </tbody>
</table>
</body>
</html>